arpa-linker==0.5.4
certifi==2017.7.27.1
chardet==3.0.4
cookies==2.2.1
csv2rdf==0.1.1
fuzzywuzzy==0.15.1
idna==2.6
iso8601==0.1.12
isodate==0.5.4
jellyfish==0.5.6
numpy==1.13.1
pandas==0.20.3
pyparsing==2.2.0
PyPrind==2.11.1
python-dateutil==2.6.1
python-slugify==1.2.4
pytz==2017.2
rdflib==4.2.2
requests==2.18.4
responses==0.7.0
roman==2.0.0
six==1.10.0
SPARQLWrapper==1.8.0
Unidecode==0.4.21
urllib3==1.22
warsa-linkers==0.1.0
