pandas>=0.17.0
SPARQLWrapper
iso8601
rdflib>=4.2.1
jellyfish>=0.5.6
git+https://github.com/razz0/CSV2RDF.git#egg=csv2rdf-master
pyprind
git+https://github.com/SemanticComputing/python-arpa-linker.git#egg=arpa_linker-master
responses